main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0.1px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--darkside), var(--blueside));
  border-radius: 10px;
}

@keyframes firstR2d2Moving {
  0% {
    transform: translateX(-13vw);
    border-radius: 0px;
  }
  100% {
    transform: translateX(100vw);
  }
}

.firstText {
  max-width: 80%;
  min-width: 80%;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  img {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -4.4em;
    border-radius: 18px;
    height: auto;
    width: 4em;
    animation: firstR2d2Moving 8s linear infinite;
    transition: ease-in-out 200ms;
  }
  strong {
    animation: jord 4s infinite;
    transition: 200ms ease-in-out;
  }
}

.firstText img:hover {
  opacity: 0.4;
}

.firstText h1 {
  width: 100%;
  font-size: 1.4em;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 12px;
  letter-spacing: 0.2em;
}
@keyframes jord {
  0% {
    color: var(--darkside);
  }
  50% {
    color: var(--blueside);
  }
  100% {
    color: var(--darkside);
  }
}

.menus-bottom {
  height: auto;
  margin: auto;
  width: 50%;
  border-radius: 34px;
  padding: 24px;
  margin-top: 4rem;
  background-image: url("../imgs/starrySky.png");
  background-size: contain;
  border: var(--bordersWidth) solid var(--white);
  transition: 400ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }
}

.menus-bottom:hover {
  box-shadow: 1px 0px 40px var(--white);
}

.aboutMe {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  gap: 24px;
  justify-content: space-around;
}

.description,
.work {
  padding: 12px;
  background-color: var(--black);
  border: solid var(--bordersWidth) var(--blueside);
  border-radius: 12px;
  transition: 200ms ease-in-out;
  h3 {
    color: var(--gold);
    text-transform: uppercase;
  }
}

.description:hover,
.work:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 20px red;
  border-color: red;
}

.aboutMeEvent {
  width: 74%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem auto;
  padding: 18px;
  border: solid var(--bordersWidth) var(--blueside);
  box-shadow: 1px 0px 10px var(--blueside);
  border-radius: 34px;
  white-space: normal;
  text-align: start;
  background-color: var(--gray);
  p {
    font-weight: bolder;
    padding: 12px;
    text-transform: uppercase;
    text-align: justify;
    line-height: 1.8em;
  }
  img {
    height: auto;
    width: 135px;
    margin-top: 1rem;
    display: block;
    padding: 12px;
    border: solid var(--bordersWidth) var(--darkside);
    box-shadow: 0px 0px 0px var(--darkside);
    background-image: url("../imgs/starrySky.png");
    background-size: contain;
    border-radius: 50%;
  }
}

@keyframes fliping {
  0% {
    transform: rotateY(90deg);
    box-shadow: 0px 0px 0px var(--darkside);
  }
  50% {
    transform: rotateY(730deg);
  }
  80% {
    transform: rotateY(730deg);
    box-shadow: 0px 0px 30px var(--darkside);
  }
  100% {
    transform: rotateY(730deg);
    box-shadow: 0px 0px 0px var(--darkside);
  }
}

.imgPlaceHolder {
  height: 160px;
  width: 140px;
}

.workEvent {
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
  padding: 18px;
  border: solid var(--bordersWidth) var(--blueside);
  box-shadow: 1px 12px 20px var(--blueside);
  border-radius: 34px;
  text-align: start;
  background-color: var(--gray);
  position: relative;
  .imgPlaceHolder2 {
    left: 10px;
    top: -5em;
    height: 8em;
    width: fit-content;
    position: absolute;
    z-index: -1;
  }
  img {
    height: auto;
    width: 200px;
  }
  h2 {
    font-family: "Oswald", sans-serif;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.tecnologies {
  list-style: none;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    font-family: "Oswald" sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    transition: 400ms ease-in-out;
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 8px;
    letter-spacing: 0.2rem;
    background-color: var(--black);
  }
}

.types a:nth-child(1),
:nth-child(2),
:nth-child(7) {
  color: var(--1);
}

.types a:nth-child(3) {
  color: var(--2);
}

.types a:nth-child(4),
:nth-child(6) {
  color: var(--3);
}

.types a:nth-child(5) {
  color: var(--4);
}

.types a:nth-child(8) {
  color: var(--5);
}

.types a:hover {
  font-weight: bolder;
}

.types a:nth-child(1):hover,
.types a:nth-child(2):hover,
.types a:nth-child(7):hover {
  text-shadow: 1px 0px 8px var(--1);
}

.types a:nth-child(3):hover {
  text-shadow: 1px 0px 8px var(--2);
}

.types a:nth-child(4):hover,
.types a:nth-child(6):hover {
  text-shadow: 1px 0px 8px var(--3);
}

.types a:nth-child(5):hover {
  text-shadow: 1px 0px 8px var(--4);
}

.types a:nth-child(8):hover {
  text-shadow: 1px 0px 8px var(--5);
}

@keyframes ligths {
  0% {
    box-shadow: 1px 0px 10px var(--blueside);
  }
  50% {
    box-shadow: 1px 0px 10px transparent;
  }
  100% {
    box-shadow: 1px 0px 10px var(--blueside);
  }
}

@media (max-width: 700px) {
  .menus-bottom:hover {
    box-shadow: none;
  }

  .aboutMeEvent {
    flex-direction: column-reverse;
    text-align: justify;
    line-height: 1.4em;
  }
  .menus-bottom {
    margin-top: 30px;
    h1 {
      padding-bottom: 18px;
      font-size: 22px;
    }
  }
  .work,
  .description {
    h3 {
      font-size: 18px;
    }
  }
}

.menuProjects {
  box-shadow: 1px 0px 20px var(--blueside);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 4rem;
  margin: 4em auto;
  padding: 30px;
  background-color: var(--gray);
  border-radius: 18px;
  border: var(--bordersWidth) solid var(--blueside);
  h3{
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2em;
    font-size: 24px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: black;
  width: fit-content;
  padding: 12px;
  border-radius: 28px;
  border: 2px solid var(--gold);
  box-shadow: -0px 14px 8px black;
  button{
    cursor: pointer;
    padding: 8px;
    background-color: var(--black);
    margin: 0em 4em 0em 4em;
    font-size: 16px;
    border: var(--bordersWidth) solid var(--gold);
    border-radius: 8px;
    transition: 200ms ease-in-out;
    a{
      color: var(--gold);
      font-family: "Oswald";
      text-transform: uppercase;
      font-weight: bolder;
      text-decoration: none;
      transition: 200ms ease-in-out;
    }
  }
  p{
    width: 100%;
    padding: 12px;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
  }
  img{
    height: auto;
    border: 4px solid var(--gray);
    border-radius: 20px;
    width: 400px;
    margin-top: 1em;
  }
}

.projects button:hover{
  border-color: var(--white);
  a{
    
    color: var(--blueside);
  }
}