.header {
  width: 100%;
  font-weight: 700;
  display: flex;
}

.navBar {
  width: 100%;
  background-color: var(--black);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.darthIcon {
  background-color: var(--darkside);
  border-radius: 50%;
  margin: 8px;
  animation: darkside 4s infinite;
  width: fit-content;
}

.darthIcon img {
  padding: 8px;
  width: 100%;
  min-width: 55px;
  max-width: 75px;
  height: auto;
}

.list {
  text-transform: uppercase;
  list-style: none;
  color: var(--white);
  width: 50%;
  gap: 24px;
  min-width: 40%;
  max-width: 40%;
  li{
    transition: 200ms ease-in-out;
  }
  li:hover{
    scale: 1.1;
  }
}

.list li a {
  padding: 4px;
  border-radius: 10px;
  font-size: 1em;
  color: var(--gold);
  transition: 200ms ease-in-out;
  position: relative;
  text-decoration: none;
}

.list li:nth-child(1) a::after {
  background-color: var(--darkside);
}

.list li:nth-child(2) a::after {
  background-color: var(--blueside);
}

.list li:nth-child(3) a::after {
  background-color: var(--gold);
}

.list li a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  min-height: 2px;
  max-height: 3px;
  transition: 200ms ease-in-out;
}

.list li a:hover::after {
  width: 100%;
}

.list li a:hover {
  
  animation: textMenuEffect 3s infinite;
}

.list li:last-child {
  color: var(--gold);
  margin-left: auto;
}

.menu-button img {
  width: 100%;
  min-width: 50px;
  max-width: 50px;
  margin: auto;
  height: auto;
}

@keyframes textMenuEffect {
  0% {
    text-shadow: 1px 1px 20px var(--blueside);
  }
  50% {
    text-shadow: 1px 0px 12px var(--darkside);
  }
  100% {
    text-shadow: 1px 1px 20px var(--blueside);
  }
}
@keyframes darkside {
  0% {
    background-color: var(--blueside);
  }
  50% {
    background-color: var(--darkside);
    box-shadow: 0px 0px 20px var(--darkside);
  }
  100% {
    background-color: var(--blueside);
  }
}
@keyframes blueside {
  0% {
    box-shadow: 0px 0px 0px var(--blueside);
  }
  50% {
    box-shadow: 0px 0px 20px var(--blueside);
  }
  100% {
    box-shadow: 0px 0px 0px var(--blueside);
  }
}

@media (max-width: 700px) {
  .list {
    display: none;
  }

  .menu-button {
    background-color: var(--blueside);
    padding: 8px;
    border-radius: 50%;
    border: solid 2px var(--blueside);
    animation: blueside 4s infinite;
    width: 100vw;
    max-width: fit-content;
  }
}

@media (min-width: 701px) {
  .list {
    display: flex;
  }

  .menu-button {
    display: none;
  }
}
